<div class="navbar" ng-controller="CurrentIdentityCtrl">
  <div class="navbar-inner navbar-fixed-top">
    <a class="brand" href="#" ng-bind="name"></a>
    <ul class="nav pull-right" ng-show="currentIdentity.isAuthenticated()">
      <li>
        <a href="javascript:void(0);">
          Logged in as {{currentIdentity.name()}}</span>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <b class="caret"></b>
        </a>          
        <ul class="dropdown-menu">
          <li><a href="#profile">Profile</a></li>
          <li><a href="#logout">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>