<ul class="thumbnails" ng-controller="QuizzesByLangCtrl" ng-init="init(lang.name)">
  <li class="span4" ng-repeat="quiz in quizzes">
    <div class="thumbnail">
      <a href="/#/quiz/{{quiz.id}}" class="thumbnail">
        <img ng-src="{{quiz.thumbnail}}" alt=""/>
      </a>
      <div class="caption">
        <h3>{{quiz.title}}</h3>
        <p>{{quiz.description}}</p>
        <p>
          <a class="btn btn-primary" href="/#/quiz/{{quiz.id}}">Take Quizz</a>
        </p>
      </div>
    </div>
  </li>
</ul>